<div id="details_field" class="details_field w-full p-4 hidden flex-col">
    <div class="w-full h-10">
        <div class="bg-gray-200 h-10 w-10 rounded-full text-3xl text-white text-center items-baseline justify-center flex">
            <i class="fa-solid fa-arrow-left"></i>
        </div>
    </div> 
    <div class=" w-full text-left">
        <h3 class="flex flex-row items-center flex"><span class="italic text-sm mr-2 justify-center flex">Terrain : </span><p id="nameFieldDetails" class="font-bold text-xl mx-2"></p> <label>(ID : <span id="id_field_details"></span>)</label></h3>
        <p class="italic text-sm mr-2 flex text-center">Superficie : <span id="superficieTerrainDetails" class="px-2 not-italic"></span> hectare</p>
        <p class="italic text-sm mr-2 flex">Type de culture : <span id="typeCultureTerrainDetails" class="px-2 not-italic font-medium"></span></p>
        <p class="italic text-sm mr-2 flex">Propriétaire / Responsable : <span id="responsableTerrainDetails" class="px-2 not-italic font-medium"></span></p>
    </div>
    <!-- <p>Détails field</p> -->
    <div class="w-full flex flex-row items-center relative justify-between overflow-x-auto my-3 p-2">
        <button type="button" id="showFormAddField" class="h-12 p-2 px-4 rounded-lg shadow-lg text-sm md:text-lg green_color_text flex flex-row items-center justify-center">
            <li id="label_add_field" class="flex mr-2">Ajouter un Capteur</li> 
            <i class="fa-solid fa-plus"></i></i>
        </button>
    </div>

    <div class="w-full justify-center items-center flex relative">
        <div id="formAddField" class="w-96 h-auto bg-gray-200 rounded-lg shadow-lg relative hidden">
            <form id="ajouter-capteur" class="flex flex-col w-full px-4 py-8">
                <input type="text" name="nom" placeholder="Nom du capteur :" required class="w-full rounded-3xl p-2 px-4 border-2 border-solid border-black border-opacity-10 mb-3 shadow-lg focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
                <select name="type" aria-placeholder="Type de capteur :" required class="w-full rounded-3xl p-2 px-4 border-2 border-solid border-black border-opacity-10 mb-3 shadow-lg focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
                    <option value="Température">Température</option>
                    <option value="Humidité">Humidité</option>
                    <option value="pH">pH</option>
                    <option value="Luminosité">Luminosité</option>
                </select>
                <input type="text" name="modele" placeholder="Modèle :" class="w-full rounded-3xl p-2 px-4 border-2 border-solid border-black border-opacity-10 mb-3 shadow-lg focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
                <input type="text" name="numero_serie" placeholder="Numéro de série :" required class="w-full rounded-3xl p-2 px-4 border-2 border-solid border-black border-opacity-10 mb-3 shadow-lg focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
                <input type="text" name="latitude" placeholder="Latitude" class="w-full rounded-3xl p-2 px-4 border-2 border-solid border-black border-opacity-10 mb-3 shadow-lg focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
                <input type="text" name="longitude" placeholder="Longitude" class="w-full rounded-3xl p-2 px-4 border-2 border-solid border-black border-opacity-10 mb-3 shadow-lg focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
            
                <label class="text-left italic">Date d'installation :</label>
                <input type="date" name="date_installation" required class="w-full rounded-3xl p-2 px-4 border-2 border-solid border-black border-opacity-10 mb-3 shadow-lg focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
            
                <label class="text-left italic">Statut :</label>
                <select name="statut" required class="w-full rounded-3xl p-2 px-4 border-2 border-solid border-black border-opacity-10 mb-3 shadow-lg focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
                    <option value="actif">Actif</option>
                    <option value="en maintenance">En maintenance</option>
                    <option value="retiré">Retiré</option>
                </select>
                <button type="submit" class="backgroud_btn_h text-white rounded-3xl my-2 p-2 border-2 border-solid border-yellow-500 border-opacity-30">Ajouter le capteur</button>
                <button id="closeAddFieldSenor" type="reset" class="border_btn_h bg-white backgroud_text_h rounded-3xl my-2 p-2 border-2 border-solid border-yellow-500 border-opacity-30">Annuler</button>
            </form>              
        </div>
    </div>

    <div>

    </div>

</div>