<div id="details_field" class="details_field w-full p-4 hidden flex-col">
    <h3 class="flex flex-row items-center flex"><span class="italic text-sm mr-2 justify-center flex">Terrain : </span><p id="nameFieldDetails" class="font-bold text-xl mx-2"></p> <label>(ID : <span id="id_field_details"></span>)</label></h3>
    <!-- <p>Détails field</p> -->
    <div class="w-full flex flex-row items-center relative justify-between overflow-x-auto my-3 p-2">
        <button type="button" id="showFormAddField" class="h-12 p-2 px-4 rounded-lg shadow-lg text-sm md:text-lg green_color_text flex flex-row items-center justify-center">
            <li id="label_add_field" class="flex mr-2">Ajouter un Capteur</li> 
            <i class="fa-solid fa-plus"></i></i>
        </button>
    </div>

    <div class="w-full justify-center items-center flex relative">
        <div id="formAddField" class="w-96 h-96 bg-red-500 relative hidden">
            <form id="ajouter-capteur">
                <label>Nom du capteur :</label>
                <input type="text" name="nom" required>
            
                <label>Type de capteur :</label>
                <select name="type" required>
                    <option value="Température">Température</option>
                    <option value="Humidité">Humidité</option>
                    <option value="pH">pH</option>
                    <option value="Luminosité">Luminosité</option>
                </select>
            
                <label>Modèle :</label>
                <input type="text" name="modele" required>
            
                <label>Numéro de série :</label>
                <input type="text" name="numero_serie" required>
            
                <label>Champ associé :</label>
                <select name="champ_id" required>
                <!-- Options dynamiques : Liste des champs -->
                </select>
            
                <label>Emplacement sur carte :</label>
                <input type="text" name="latitude" placeholder="Latitude">
                <input type="text" name="longitude" placeholder="Longitude">
            
                <label>Date d'installation :</label>
                <input type="date" name="date_installation" required>
            
                <label>Statut :</label>
                <select name="statut" required>
                    <option value="actif">Actif</option>
                    <option value="en maintenance">En maintenance</option>
                    <option value="retiré">Retiré</option>
                </select>
        
                <button type="submit">Ajouter le capteur</button>
                <button type="button">Annuler</button>
            </form>              
        </div>
    </div>

</div>