<div id="produit_stocké" class="w-full overflow-x-scroll my-5">
    <table class="w-full border-2 border-solid border-black border-collapse">
        <thead class="">
            <tr>
                <th class="hidden">N</th>
                <th>Mesure</th>
                <th>Valeur actuelle</th>
                <th>Unité</th>
                <th>Historique rapide</th>
                <th>Seuil d’alerte</th>
            </tr>
        </thead>
        <tbody class="">
                    <tr>
                        <td class="">Température sol</td>
                        <td>21,5</td>
                        <td>°C</td>
                        <td>mini-graphique</td>
                        <td>5–35 °C</td>
                    </tr>
        </tbody>
    </table>
</div>