<div id="container_fields" class="w-full mx-2 flex flex-wrap relative">
        <div id="fields_cards" class="w-full mx-2 flex flex-wrap relative">

        </div>
        <%- include('not_element_found.ejs') %> 

    <button type="hidden" id="show_details" class="hidden"></button>
</div>
