<div id="show_addField" class="bg-gray-200 relative w-80 p-4 items-center justify-center hidden flex-col shadow-lg z-50">
    <button type="button" class="absolute top-2 left-2 text-2xl text-yellow-400" onclick="show_adding_field('close');"><i class="fa-solid fa-rectangle-xmark" id="closeConnexion"></i></button>
    <h3 class="font-medium m-2">Ajouter un terrain</h3>
    <form class=""></form>
        <input type="text" name="nom" id="nom" class="rounded-3xl p-2 px-4 border-2 border-solid border-black border-opacity-10 mb-3 shadow-lg focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
        <input type="text" name="type_culture" id="type_culture" class="rounded-3xl p-2 px-4 border-2 border-solid border-black border-opacity-10 mb-3 shadow-lg focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
        <input type="number" name="surface" id="surface" class="rounded-3xl p-2 px-4 border-2 border-solid border-black border-opacity-10 mb-3 shadow-lg focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
        <select name="etat" id="etat" class="rounded-3xl p-2 px-4 border-2 border-solid border-black border-opacity-10 mb-3 shadow-lg focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
            <option value="Ensemencer">Ensemencer</option>
            <option value="Croissance">Croissance</option>
            <option value="Recolte">Recolte</option>
        </select>
        <!-- <h4 class="font-medium">Localisation</h4> -->
        <button type="button" id="locate_myField" class="text-green-700 rounded-3xl my-5 p-2 border-2 border-solid border-green-700 border-opacity-30">
            <i class="fa-solid fa-map-location-dot"></i>
            <span>Localiser mon champs</span>
        </button>
        <ul class="hidden">
            <input type="number" name="longitude" id="longitude" class="rounded-3xl p-2 px-4 border-2 border-solid border-black border-opacity-10 mb-3 shadow-lg focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
            <input type="number" name="latitude" id="latitude" class="rounded-3xl p-2 px-4 border-2 border-solid border-black border-opacity-10 mb-3 shadow-lg focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">
        </ul>    
        <button type="submit" class="backgroud_btn_h text-white rounded-3xl my-5 p-2 border-2 border-solid border-yellow-500 border-opacity-30">Enregistrer</button>
    </>
</div>