<div class="">
    <h3>Ajouter un terrain</h3>
    <form action="" method="post">
        <input type="text" name="nom" id="">
        <input type="text" name="type_culture" id="type_culture">
        <input type="number" name="surface" id="surface">
        <input type="checkbox" name="etat" id="etat">
    </form>
</div>