<div id="field_management_cont" class="w-full p-4 hidden flex-col">
    <h3 class="text-left font-medium">Gestion des terrains</h3>
    <div id="champs" class="w-full flex flex-wrap">
        <div class="w-full flex flex-row justify-between">
            <button type="button" onclick="show_adding_field('open');" class="h-12 m-2 p-2 px-4 rounded-lg shadow-lg text-lg text-green-700">Ajouter un terrain <i class="fa-solid fa-plus"></i></i></button>
            <button type="button" id="filter" class="text-3xl hidden"><i class='bx bx-filter'></i></button>
        </div>
        <div id="modals_addFields" class="w-full h-screen z-40 backdrop-blur fixed inset-0 justify-center items-center 
        content-center hidden">
            <%- include('add_field') %>
        </div>
        <%- include('fields') %> %>
    </div>
</div>

<!-- <div id="graphic" class="w-full h-8/12">
    <img src="/images/analyse.jpeg" alt="analyse" class="w-full h-auto object-cover">
</div>
<div class="bg-red-500 w-full relative">
    <button type="button" id="btn_showOption" class="text-3xl absolute top-2 right-2 bg-green-500 rounded-full">
        <i class='bx bx-dots-vertical'></i>
    </button>
</div> -->