<div id="container_fields" class="w-full mx-3 flex flex-wrap relative">
    <!-- <div id="fields" class="h-56 w-44 m-3 bg-gray-200 text-6xl text-green-700 flex flex-col relative>

    </div> -->
    <button type="hidden" id="show_details" class="hidden"></button>
</div>
<%- include('not_element_found.ejs') %> 
<%- include('moreDetailsField.ejs') %>
