<div id="fields" class="w-full m-3 flex flex-wrap relative">
    <div class="h-56 w-44 m-3 bg-gray-200 text-6xl text-green-700 flex flex-col relative>
        <div id="graphic" class="w-full h-8/12">
            <img src="/images/analyse.jpeg" alt="analyse" class="w-full h-auto object-cover">
        </div>
        <div class="bg-red-500 w-full relative">
            <button type="button" id="btn_showOption" class="text-3xl absolute top-2 right-2 bg-green-500 rounded-full">
                <i class='bx bx-dots-vertical'></i>
            </button>
        </div>
    </div>

    <%- include('not_element_found.ejs') %> 
</div>
