<div class="w-full p-4">
    <h3 class="text-left font-medium">Gestion des terrains</h3>
    <div id="champs" class="w-full">
        <button type="button" class=""><i class="fa-solid fa-square-plus"></i></button>
    </div>
</div>