<!-- partial:index.partial.html -->
<div id="loaderContainer" class="fixed top-0 left-0 right-0 bottom-0 w-full h-screen z-50 overflow-hidden bg-white flex flex-col items-center justify-center">
	<div id="loader" class="loader" style="display: block;"></div>
	<h2 class="text-center text-black font-bold text-xl font-semibold">En cours de chargement...</h2>
	<p class="w-2/3 text-center text-black">Cela peut prendre quelques sécondes, veuillez ne pas fermer cette page.</p>
</div>