<div id="menu_profile" class="flex hidden">
    <button type="button">
        
    </button>

    <!-- importation du composant button se deconnecter -->
    <%- include('signout.ejs') %>
</div>