<div id="moreoptionusers" class="w-56 bg-gray-200 shadow-lg list-none p-3 items-center justify-center flex flex-col absolute top-20 right-10 z-40 lg:hidden">
    <button id="settings" class="lg:flex lg:flex-row lg:text-left lg:w-full lg:h-16 lg:rounded-lg  lg:border-black lg:p-3 lg:m-2
    lg:items-center aside_btn
    hidden">
        <li class="text-3xl mr-2"><i class='bx bxs-cog'></i></li>
        <li id="btn_label" class="hidden md:flex">Paramètres</li>
    </button>

    <button id="signout" class="lg:flex lg:flex-row lg:text-left lg:w-full lg:h-16 lg:rounded-lg lg:border-black lg:m-2 lg:items-center
    hidden aside_btn text-red-500">
        <li class="text-3xl m-2"><i class='bx bx-log-out'></i></li>
        <li id="btn_label" class="hidden md:flex">Déconnexion</li>
    </button>
</div>