<div id="show_details_div" class="w-72 hidden flex-col items-start p-5 rounded-lg shadow-lg bg-gray-200 absolute z-50">
    <button class="flex flex-row text-lg my-2 mx-2">
        <p><i class="fa-solid fa-arrow-up-right-from-square"></i></p>
        <p class="px-3">Détails sur le terrain</p>
    </button>
    <button class="flex flex-row text-lg my-2 mx-2">
        <p class="text-3xl"><i class='bx bx-edit-alt'></i></p>
        <p class="px-3">Modifier le terrain</p>
    </button>
    <button class="flex flex-row text-lg my-2 mx-2 text-red-500">
        <p class="text-3xl"><i class='bx bxs-trash'></i></p>
        <p class="px-3">Supprimer le terrain</p>
    </button>
</div>