<div class="">
    <button class="">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <p>Détails sur le terrain</p>
    </button>
    <button>
        <i class='bx bx-edit-alt' ></i>
        <p>Modifier le terrain</p>
    </button>
    <button>
        <i class='bx bxs-trash'></i>
        <p>Supprimer le terrain</p>
    </button>
</div>