<div id="moreoptionusers" class="w-56 bg-gray-200 shadow-lg list-none p-3 items-center justify-center flex flex-col absolute top-20 right-10 z-40 lg:hidden">
    <button id="settings" class="flex flex-row text-left w-full h-16 rounded-lg border-black p-3 m-2 items-center aside_btn">
        <li class="text-xl mr-2"><i class='bx bxs-cog'></i></li>
        <li id="btn_label" class="flex">Paramètres</li>
    </button>

    <button id="signout" class="flex flex-row text-left w-full h-16 rounded-lg border-black m-2 items-center aside_btn text-red-500">
        <li class="text-xl m-2"><i class='bx bx-log-out'></i></li>
        <li id="btn_label" class="flex">Déconnexion</li>
    </button>
</div>