<div id="not_element" class="h-44 w-44 m-3 bg-gray-200 text-center items-center justify-center flex">
    <!-- <p class="text-center text-sm">Vous n'avez auncun champ pour le moment</p> -->
    <img src="/images/cross_mark_search.jpeg" alt="cross image not found">
</div>