<aside class="bg-black opacity-90 list-none fixed left-0 bottom-0 h-16 w-full shadow-2xl text-white flex 
flex-row
lg:top-16 lg:h-screen lg:w-56 lg:bg-white lg:z-20 lg:px-4 lg:text-black lg:flex lg:flex-col">
    <button onclick="" id="" class="lg:flex lg:flex-row lg:text-left lg:w-full lg:h-16 lg:rounded-lg lg:border-black lg:p-3 lg:m-2
    lg:items-center
    md:flex md:flex-col md:text-center md:items-center
    w-3/12 px-4 py-2 mr-2">
        <li class="text-3xl mr-2"><i class='bx bxs-dashboard'></i></li>
        <li class="hidden md:flex">Tableau de bord</li>
    </button onclick="">
    <button onclick="" id="" class="lg:flex lg:flex-row lg:text-left lg:w-full lg:h-16 lg:rounded-lg lg:border-black lg:p-3 lg:m-2
    lg:items-center
    md:flex md:flex-col md:text-center md:items-center
    w-3/12 mr-2 py-2">
        <li class="text-3xl mr-2"><i class="fa-solid fa-tractor"></i></li>
        <li class="hidden md:flex">Gestion de terrain </li>
    </button>
    <button onclick="" id="" class="lg:flex lg:flex-row lg:text-left lg:w-full lg:h-16 lg:rounded-lg  lg:border-black lg:p-3 lg:m-2
    lg:items-center
    md:flex md:flex-col md:text-center md:items-center
    w-3/12 mr-2 py-2">
        <li class="text-2xl mr-2"><i class="fa-solid fa-warehouse"></i></li>
        <li class="hidden md:flex">Stock</li>
    </button>
    <button onclick="" id="" class="lg:flex lg:flex-row lg:text-left lg:w-full lg:h-16 lg:rounded-lg  lg:border-black lg:p-3 lg:m-2
    lg:items-center
    md:flex md:flex-col md:text-center md:items-center
    w-3/12 mr-2 py-2">
        <li class="text-3xl mr-2"><i class="fa-solid fa-truck"></i></li>
        <li class="hidden md:flex">Livraison</li>
    </button>
    <button onclick="" id="" class="lg:flex lg:flex-row lg:text-left lg:w-full lg:h-16 lg:rounded-lg  lg:border-black lg:p-3 lg:m-2
    lg:items-center
    hidden">
        <li class="text-3xl mr-2"><i class='bx bxs-cog'></i></li>
        <li class="hidden md:flex">Paramètres</li>
    </button>

    <button onclick="" id="" class="lg:flex lg:flex-row lg:text-left lg:w-full lg:h-16 lg:border-black lg:m-2 lg:items-center
    hidden">
        <li class="text-3xl m-2"><i class='bx bx-log-out'></i></li>
        <li class="hidden md:flex">Déconnexion</li>
    </button>
</aside>
