<div id="stock_management" class="w-full p-4 hidden flex-col">
    <h3 class="text-left font-medium list-none flex flex-row">
        <li class="text-md mr-2"><i class="fa-solid fa-warehouse"></i></li>
        Mon stock</h3>
    <div class="w-full flex flex-row">
        <button type="button" class="h-12 m-2 p-2 px-4 rounded-lg shadow-lg text-lg text-green-700">Ajouter en stock <i class="fa-solid fa-plus"></i></i></button>
        <button type="button" class="h-12 m-2 p-2 px-4 rounded-lg shadow-lg text-lg text-green-700">Sortir du stock <i class="fa-solid fa-plus"></i></i></button>
    </div>
</div>