<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
  <section class="relative" id="hero-header">
    <nav class="flex flex-row px-10 py-4 h-28 text-center items-center bg-black bg-opacity-90 text-white relative ">
      <ul class="w-42 items-center relative pb-3">
        <img class="h-auto w-44 object-contain" src="/images/logo&name.png" alt="Logo de Fertilia">
      </ul>
      <ul class="flex flex-row absolute right-0 px-10 text-lg text-medium text-center items-center">
        <a href="#">
          <li class="pr-4">Accueil</li>
        </a>
        <a href="#">
          <li class="pr-4">Fonctionnalités</li>
        </a>        
        <a href="#">
          <li class="pr-4">A propos</li>
        </a>        
        <a href="#">
          <li class="pr-4">Contacts</li>
        </a>

        <button class="pr-4">Se connecter</button>
      </ul>
    </nav>

    <div class="" id="header">

    </div>
  </section>
</body>
</html>
