<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
  <section class="relative" id="hero-header">
    <nav class="flex flex-row px-10 py-4 h-28 text-center items-center bg-black bg-opacity-90 text-white relative ">
      <ul class="w-42 items-center relative pb-3">
        <img class="h-auto w-44 object-contain" src="/images/logo&name.png" alt="Logo de Fertilia">
      </ul>
      <ul class="flex flex-row absolute right-0 px-10 text-lg text-medium text-center items-center">
        <a href="#">
          <li class="pr-4">Accueil</li>
        </a>
        <a href="#">
          <li class="pr-4">Fonctionnalités</li>
        </a>        
        <a href="#">
          <li class="pr-4">A propos</li>
        </a>        
        <a href="#">
          <li class="pr-4">Contacts</li>
        </a>

        <button class="pr-4">Se connecter</button>
      </ul>
    </nav>

    <div class="text-right px-20 py-6 flex flex-row relative" id="header">
      <div class="w-5/12"></div>
      <div class="w-7/12 flex flex-col">
        <div class="relative place-items-end w-full mb-7">
          <img class="h-auto w-24 object-contain" src="/images/logo_only.png" alt="">
        </div>
        <h1 class="font-multicontroller text-4xl text-white mb-5">La technologie au service de<span class="backgroud_text_h bg-opacity-60"> votre terre</span></h1>
        <p class="text-white text-xl font-light bg-black bg-opacity-30 p-2"> <span class="text-xl">“</span> Transformez votre exploitation 
          grâce à <span class="backgroud_text_h font-medium">notre plateforme innovante</span>. surveillez en 
          temps réel vos cultures et optimisez l'irrigation. <span class="backgroud_text_h font-medium">Maximisez vos rendements</span> et bâtissez un avenir durable, 
          le tout en simplifiant la gestion quotidienne de vos ressources. Découvrez 
          comment la technologie peut <span class="backgroud_text_h font-medium">redonner vie à votre terre</span> et propulser votre agriculture vers de <span class="backgroud_text_h font-medium">nouveaux sommets.</span> <span class="text-xl">”</span>
        </p>
      </div>
    </div>
  </section>
</body>
</html>
