<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
  <section class="relative" id="hero-header">
    <nav class="flex flex-row px-10 py-4 h-28 text-center items-center justify-center bg-black bg-opacity-90 text-white relative ">
      <ul class="w-42 items-center pb-3 absolute left-0 mx-10">
        <img class="h-auto w-44 object-contain" src="/images/logo&name.png" alt="Logo de Fertilia">
      </ul>
      <ul class="flex flex-row justify-center self-center relative content-center px-10 text-lg text-medium text-center items-center">
        <a href="#">
          <li class="pr-4 text-center flex justify-center items-center content-center">
            <li class=""><i class="fa-solid fa-house"></i></li>
            <li class="mr-6">Accueil</li>
          </li>
        </a>
        <a href="#">
          <li class="pr-4 relative">
            <li><i class="fa-solid fa-chart-simple"></i></li>
            <li class="mr-6">Fonctionnalités</li>
          </li>
        </a>        
        <a href="#">
          <li class="pr-4">
            <li><i class="fa-solid fa-circle-info"></i></li>
            <li class="mr-6">A propos</li>
          </li>
        </a>        
        <a href="#">
          <li class="pr-4">
          
            <li><i class="fa-solid fa-phone-volume"></i></li>
            <li class="mr-6">Contacts</li>
          </li>
        </a>

      </ul>   
      <ul class="flex flex-row absolute right-0 px-10 text-lg text-medium text-center items-center">
        <button class="pr-4 backgroud_btn_h px-3 py-2 rounded-lg hover:bg-bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50">Se connecter <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
      </ul>
    </nav>

    <div class="text-right px-20 py-6 flex flex-row relative" id="header">
      <!-- <img src="/images/ecotechnologie.jpg" alt="echotechnologie" class="absolute rounded-full w-24 h-auto object-contain left-1/3 top-1/3 z-20"> -->
      <div class="w-5/12"></div>
      <div class="w-7/12 flex flex-col">
        <div class="relative place-items-end w-full mb-5">
          <img class="h-auto w-24 object-contain" src="/images/logo_only.png" alt="logo de Fertilia">
        </div>
        <h1 class="font_header text-5xl text-white mb-3 text-left">La technologie au service de<span class="backgroud_text_h bg-opacity-60"> votre terre</span></h1>
        <p class="text-white text-xl font-light bg-black bg-opacity-30 p-2"> <span class="text-lg"><i class="fas fa-quote-left"></i></span> Transformez votre exploitation 
          grâce à <span class="backgroud_text_h font-medium">notre plateforme innovante</span>. Surveillez en 
          temps réel vos cultures et optimisez l'irrigation. <span class="backgroud_text_h font-medium">Maximisez vos rendements</span> et bâtissez un avenir durable, 
          le tout en simplifiant la gestion quotidienne de vos ressources. Découvrez 
          comment la technologie peut <span class="backgroud_text_h font-medium">redonner vie à votre terre</span> et propulser votre agriculture vers de <span class="backgroud_text_h font-medium">nouveaux sommets.</span> <span class="text-lg"><i class="fas fa-quote-right"></i></span><br>
          <button class="pr-4 backgroud_btn_h mt-2 px-3 py-2 rounded-lg">Nous réjoindre <i class="fa-solid fa-arrow-right"></i></button>
        </p>
      </div>
    </div>
  </section>

  <main>
    <section id="avantages" class="p-20">
      <h3 class="text-3xl text-center font-bold">Avantages</h3>
  
      <div class="w-full flex flex-wrap items-center justify-center my-10">
        <div class="w-80 h-auto bg-white m-5 rounded-lg shadow-xl p-2">
          <div id="" class="w-full h-48">
            <img src="/images/gestion_culture/image1.png" alt="Femmes cultuvant ensemble" class="object-cover h-48 w-full">
          </div>
          <h4 class="mt-2 font-medium">Gestion Des Cultures</h4>
          <p class="font-light">Optimisez chaque étape de vos plantations avec notre module dédié. Suivez l'évolution de vos 
            cultures en temps réel et recevez des recommandations personnalisées pour adapter vos pratiques 
            agricoles et améliorer vos rendements.
          </p>
          <button class="pr-4 backgroud_btn_h mt-2 px-3 py-2 rounded-lg text-lg text-white font-bold w-full">Voir Plus   <i class="fa-solid fa-square-plus"></i></button>
        </div>
        <div class="w-80 h-auto bg-white m-5 rounded-lg shadow-xl p-2">
          <div id="" class="w-full h-48">
            <img src="/images/irrigations/irrigation.jpeg" alt="irrigation automatique" class="object-cover h-48 w-full">
          </div>
          <h4 class="mt-2 font-medium">Irrigation Automatique </h4>
          <p class="font-light">            
            Réalisez une gestion de l'eau intelligente grâce à notre système d'irrigation automatique. 
            Les capteurs mesurent l'humidité du sol et activent l'irrigation au moment optimal, garantissant une 
            utilisation efficace de l'eau et favorisant une croissance optimale des cultures.
          </p>
          <button class="pr-4 backgroud_btn_h mt-2 px-3 py-2 rounded-lg text-lg text-white font-bold w-full">Voir Plus   <i class="fa-solid fa-square-plus"></i></button>
        </div>
        <div class="w-80 h-auto bg-white m-5 rounded-lg shadow-xl p-2">
          <div id="" class="w-full h-48">
            <img src="/images/image2.jpeg" alt="Personnes analysant les courbes de croissance" class="object-cover h-48 w-full">
          </div>
          <h4 class="mt-2 font-medium">Analyse des rendements</h4>
          <p class="font-light">
            Transformez vos données en actions concrètes avec notre outil d'analyse des rendements. 
            Visualisez l'évolution de vos récoltes, identifiez les tendances et ajustez vos stratégies pour 
            maximiser vos profits et pérenniser la performance de votre exploitation.
          </p>
          <button class="pr-4 backgroud_btn_h mt-2 px-3 py-2 rounded-lg text-lg text-white font-bold w-full">Voir Plus   <i class="fa-solid fa-square-plus"></i></button>
        </div>
      </div>
      
    </section>

    <section id="avis" class="w-full p-20">
      <h3 class="text-3xl text-center font-bold m-5">Avis et Notation</h3>
      <div id="" class="items-center justify-center flex flex-wrap relative">
        <!-- template notation -->
        <div class="w-96 m-3 bg-gray-200 h-auto relative p-5 rounded-tl-3xl rounded-br-3xl border-b-2 border-double border-yellow-500">
          <div id="ratings" class="flex space-x-1 w-2/4">
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
          </div>
          <div class="list-none absolute top-0 right-0">
            <li class="text-3xl backgroud_text_h"><i class="fas fa-quote-right"></i></li>
          </div>
          <p class="font-light m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatibus quod obcaecati 
            soluta corrupti exercitationem animi repudiandae unde suscipit eveniet?
          </p>
          <div class="flex flex-row items-center">
            <div class="h-24 w-24 relative rounded-full overflow-hidden m-4">
              <img src="/images/asset1.jpg" alt="Image d'une personne" class="object-cover w-full h-24">
            </div>
            <div class="">
              <span class="font-bold text-lg">John Doe</span>
              <p class="">Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>


        <!-- template notation -->
        <div class="w-96 m-3 bg-gray-200 h-auto relative p-5 rounded-tl-3xl rounded-br-3xl border-b-2 border-double border-yellow-500">
          <div id="ratings" class="flex space-x-1 w-2/4">
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
          </div>
          <div class="list-none absolute top-0 right-0">
            <li class="text-3xl backgroud_text_h"><i class="fas fa-quote-right"></i></li>
          </div>
          <p class="font-light m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatibus quod obcaecati 
            soluta corrupti exercitationem animi repudiandae unde suscipit eveniet?
          </p>
          <div class="flex flex-row items-center">
            <div class="h-24 w-24 relative rounded-full overflow-hidden m-4">
              <img src="/images/asset1.jpg" alt="Image d'une personne" class="object-cover w-full h-24">
            </div>
            <div class="">
              <span class="font-bold text-lg">John Doe</span>
              <p class="">Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>


      </div>
    </section>

    <section id="partenaire" class="">
      <div class="w-full h-44 text-center justify-center items-center flex flex-row">
        <div class="w-24 h-24 rounded-full overflow-hidden relative m-10"><img class="w-full h-24 object-cover" src="/images/Pinterest-logo.png" alt="pinterest logo"></div>
        <div class="w-24 h-24 rounded-full overflow-hidden m-10"><img class="w-full h-24 object-cover" src="/images/images.png" alt="facebook image"></div>
        <div class="w-24 h-24 rounded-full overflow-hidden m-10"><img class="w-full h-24 object-cover" src="/images/images (2).png" alt="facebook image"></div>
      </div>
    </section>
  </main>

  <footer class="flex flex-row px-10 py-4 h-auto text-center items-center justify-center bg-black bg-opacity-90 text-white relative ">

  </footer>
</body>
</html>
