<div id="add_produt" class="">
    <form id="" class="">
        <input type="text" name="nom_produit" id="nom_produit">
        <input type="text" name="Emplacement" id="Emplacement">
        <input type="text" name="fournisseur" id="fournisseur">
    </form>
</div>