<div id="add_produt" class="">
    <form id="" class="">
        <input type="text" name="nom_produit" id="nom_produit">
        <select name="" id="">
            <option value="engrais">engrais</option>
            <option value="semences">semences</option>
            <option value="pesticides">pesticides</option>
            <option value="matériels">matériels</option>
        </select>
        <input type="text" name="Emplacement" id="Emplacement">
        <input type="text" name="fournisseur" id="fournisseur">
    </form>
    , , , 
</div>