<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <nav class="absolute left-0 top-0 h-screen md:w-32 bg-red-500">

    </nav>

    <div class="fixed w-full h-16 top-0 rigth-0 bg-green-500">

    </div>

    <main>
        
    </main>
</body>
</html>