<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <nav class="absolute left-0 top-0 h-screen md:w-32">

    </nav>

    <div class="fixed w-full h-16 top-0 rigth-0 bg-green-500 justify-centerf flex">
        <div class="items-center justify-center flex flex-row m-auto">
            <div>

            </div>
            <div class="w-12 h-12 rounded-full overflow-hidden">
                <img src="/images/images_pofile.jpg" alt="profile" class="object-cover w-auto h-full">
            </div>
        </div>
    </div>

    <main class="">
        <div class="m-24 p-24">
            <h2 class="text-4xl">👋 hello</h2>
        </div>
        
    </main>
</body>
</html>