@tailwind base;
@tailwind components;
@tailwind utilities;

.font_header {
  font-family: shader-inline, monospace;
  font-style: normal;
  font-weight: 100
}

.font_header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
} 
/* cyrillic */
.Oswald {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlWHYg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
#header {
  height: 35rem;
  background-image: url('/images/bg-hero-header2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroud_btn_h{
  background-color: rgb(255, 181, 42);
} 
.backgroud_text_h{
  color: rgb(255, 181, 42);
}

.taille_conn {
  height: 35rem;  
} 
.backdrop-blur {
  backdrop-filter: blur(5px); 
}
hr {
  width: 40%;
}

.height_sign {
  height: 100vh - (100px);
}
.height_sign_lg {
  height: 100vh - (300px);
}
.height_sign_sm {
  height: 100vh - (50px);
}
.animate_nav {
  transition-delay: 10ms;
  transition: ease-in;
}

/* Loading page */

.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* DashBoard SideBar */
aside button:hover {
  box-shadow: 20px;
  border: 2px solid #d8d8d8;
  background-color: #e2e2e2;
  font-weight: 500;
}

.aside_option_set_lg {
  border: 2px solid #000000;
  background-color: #000000;
  font-weight: 500;
  color: rgb(255, 181, 42);
}
.aside_option_set_sm:hover {
  box-shadow: 20px;
  border: 2px solid #000000;
  background-color: #000000;
  color: rgb(255, 181, 42);
  font-weight: 500;
}